@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="~/css/toggle.css"/>
</head>
<body>

    <!-- Sidebar Menu -->
    <div class="menu-toggle" onclick="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div id="sidebar" class="sidebar"> 
        <ul>
            <li><a href="/pages/profile">Profile</a></li>
            <li><a href="/pages/index">Home</a></li>
            <li><a href="/pages/dashboard">Dashboards</a></li>
            <li><a href="/pages/meals">Meals</a></li>
            <li><a href="/pages/signout">Sign out</a></li>
        </ul>
    </div>

    <!-- Page Body  -->
    <div class="grid">

        @{
            int dailyTotalCalorie = 0;
        }
        @foreach(var meal in ViewBag.Meals)
        {
            @if (meal.FoodItems != null) 
            {
                @foreach(var food in meal.FoodItems)
                    {
                        dailyTotalCalorie += food.Calorie;
                    }
            }
        }
        <!-- Meal Title -->
        <div style="grid-column: span 4; height: auto;" class="flexbox">
            <div>
                <h1 style="display: inline-block;">Meals @(dailyTotalCalorie)</h1>
                <button data-toggle="form" data-form-type="mealCreation" class="interactionButton">+</button>
            </div>
        </div>

        @{
            var totalCalories = new List<int>();
            foreach(var meal in ViewBag.Meals)
            {
                @if (meal.FoodItems != null) 
                {
                    int totalCalorie = 0;
                    foreach (var food in meal.FoodItems) {
                        totalCalorie += food.Calorie;
                    }
                    totalCalories.Add(totalCalorie);
                }
            }
        }

        @{ int mealId = 0; }
        <!-- Meals -->
        @foreach(var meal in ViewBag.Meals)
        {
            <div class="flexbox" style="grid-column: span 2; height: auto;">
                <div class="flexbox" style="flex-direction: row;">
                    <h3 style="display: inline-block;">@(meal.Name)</h3>
                    <p>@(totalCalories[mealId])</p>
                    <button data-meal-id="@(meal.Id)" data-meal-name="@(meal.Name)" data-toggle="form" data-form-type="foodCreation" class="interactionButton">+</button>
                    <button data-meal-id="@(meal.Id)" data-meal-name="@(meal.Name)" data-toggle="form" data-form-type="mealOperations" class="interactionButton">...</button>
                </div>

                <!-- Foods -->
                @if (meal.FoodItems != null)
                {
                    @foreach(var food in meal.FoodItems)
                    {
                        <div class="flexbox food" style="height: 20px;">
                            <p data-food-id="@(food.Id)" data-hover="food" style="width: 60%; display: inline-block;">@(food.Description) </p>
                            <p style="width: 20%; display: inline-block;">@(food.Calorie) </p>
                            <button data-food-id="@(food.Id)" data-food-description="@(food.Description)" data-toggle="form" data-form-type="foodOperations" class="interactionButton" style="width: 20%; display: inline-block; background-color: transparent;">...</button>
                        </div>
                    }
                }
                
            </div>
            mealId++;
        }

    </div>


    <!-- Toggleable Forms  -->

    <!-- meal creation  -->
    <div id="mealCreation" class="toggle hidden">
        <form class="flexbox" asp-action="CreateMeal" asp-controller="Meals" method="POST">
            <label>Meal Name:</label>
            <input type="text" name="name" required>
            <button type="submit" class="submitButton">Create</button>
        </form>
    </div>

    <!-- food creation -->
    <div id="foodCreation" class="toggle hidden">
        <form id="searchForm" class="flexbox" asp-action="SearchFoods" asp-controller="Foods" method="POST">
            <label>Search Food:</label>
            <input id="searchKeyword" type="text" name="keyword" required>
            <button type="submit" class="submitButton">Search</button>
        </form>
        <input type="hidden" name="mealId" value="">
        <div id="searchResults" class="flexbox">
        </div>
    </div>

    <!-- meal operations -->
    <div id="mealOperations" class="toggle hidden">
        <div class="flexbox">
            <button data-toggle="form" data-form-type="updateMeal" class="smallButton">Update</button>
            <form asp-action="DeleteMeal" asp-controller="Meals" method="POST">
                <input type="hidden" name="mealId" value="">
                <button class="smallButton" type="submit">Delete</button>
            </form>
        </div>
    </div>

    <!-- meal update -->
    <div id="updateMeal" class="toggle hidden">
        <form class="flexbox" asp-action="UpdateMeal" asp-controller="Meals" method="POST">
            <input type="hidden" name="mealId" value="">
            <textarea name="mealName"></textarea>
            <button class="smallButton" type="submit">Update</button>
        </form>
    </div>

    <!-- food operations -->
    <div id="foodOperations" class="toggle hidden">
        <div class="flexbox">
            <button data-toggle="form" data-form-type="foodUpdate" class="smallButton" style="cursor: pointer;">Update</button>
            <form asp-action="DeleteFood" asp-controller="Foods" method="POST">
                <input type="hidden" name="foodId" value="">
                <button type="submit" class="smallButton" style="cursor: pointer;">Delete</button>
            </form>
        </div>
    </div>

    <!-- food update
    <div id="foodUpdate" class="toggle hidden">
        <form asp-action="UpdateFood" asp-controller="Foods" method="POST" class="flexbox">
            <input type="hidden" name="id" value="" />
            <textarea name="foodDescription"></textarea>
            <button data-toggle="form" data-form-type="foodUpdate"  class="smallButton" type="submit">Update</button>
        </form>
    </div> -->

    <!-- food hover  -->
    <div id="foodHover" class="toggle hidden flexbox">

    </div>


<script src="~/script/assignUniqueIds.js"></script>
<script type="module" src="~/script/eventListeners.js"></script>
<script src="~/script/onClickFunctions.js"></script>
</body>
</html>